@import "./variables";

.blogpost
{
    @include flexBox(column, center, flex-end);
    .container
    {
        @include flexBox(row, space-around, flex-start);
        width: 100%;
    }
    .postColumn
    {
        @include flexBox(column, center, center, inline-flex);
        width: 65%;
        margin-top: 1.45rem;
    }
}

.blogpost .singlePost
{
    width: 100%;
    min-height: 100px;
    position: relative;
    @include flexBox(column, flex-start,center);
    .header
    {
        @include flexBox(column, center, center);
        width: 80%;
        margin: 0 auto;
        border: 2px solid rgba(22,99,99,0.4);
        margin-bottom: 30px;
        padding: 10px 0 10px 0;
        h2
        {
            padding: 0;
            margin: 10px 0;
            font-size: 15px;
            text-transform: uppercase;
            color: $primaryColor;
            text-align: center;
        }
        h1
        {
            @include marginPaddingZero;
            font-size: 32px;
            text-align: center;
        }
        h3
        {
            font-size: 15px;
            padding: 0;
            margin: 10px 0;
            font-weight: 100;
        }
    }
    .content
    {
        flex-direction: column;
        width: 100%;
        h2
        {
            //font-family: 'Josefin Sans', sans-serif;
        }
        p
        {
            text-align: justify;
        }
    }
    .imageWrapper
    {
        width: 100%;
        max-height: 450px;
        margin-bottom: 34px;
        display: flex;
        img
        {
            object-fit: cover;
            width: 100%;
            object-position: top center;
        }
    }
    .footer
    {
        width: 100%;
        display: flex;
        border-bottom: 2px solid rgba(000,000,000,0.13);
        position: relative;
        bottom: 0;
        ul
        {
            @include flexBox(row, flex-start, center);
            flex-wrap: wrap;
            width: 100%;
            list-style-type: none;
            margin: 0;
        }
        .tag
        {
            width: auto;
            padding: 4px 10px;
            font-size: 12px;
            border: 2px solid #eee;
            margin: 3px 5px;
            box-sizing: border-box;
            font-weight: bold;
            text-transform: uppercase;
            font-family: $secondFont;
            cursor: pointer;
            color: black;
            text-decoration: none;
            &:hover
            {
                filter: brightness(0.9);
            }
        }
    }
}

.postColumn .share
{
    @include flexBox(row, space-around, center);
    margin: 0 auto;
    margin-bottom: 60px;
    width: 40%;
    p
    {
        @include marginPaddingZero;
        font-size: 15px;
    }
}

.commentSection
{
    @include flexBox(column, center, flex-start);
    width: 100%;
    h3 
    {
        font-size: 24px;
    }
    ul
    {
        @include marginPaddingZero;
        list-style-type: none;
        width: 100%;
        .commentItem
        {
            @include marginPaddingZero;
            width: 100%;
            margin-bottom: 35px;
        }
    }
}

.commentSection ul li .comment
{
    @include flexBox(row, space-around, flex-start);
    border-bottom: 2px solid rgba(000,000,000,0.13);
    .profilImage
    {
        display: block;
        img
        {
            width: 58px;
            height: 58px;
            min-width: 58px;
            min-height: 58px;
            border-radius: 50%;
        }
    }
    .contentSection
    {
        margin-left: 20px;
        width: 80%;
        .header
        {
            @include flexBox(row, flex-start, flex-end);
            h2
            {
                @include marginPaddingZero;
                font-size: 14px;
                text-transform: uppercase;
                color: white;
                padding:3px 8px;
                background-color: rgba(22,99,99,1);
            }
            p
            {
                font-size: 13px;
                margin-left: 10px;
                padding: 0;
                line-height: 13px;
            }
        }
        .content
        {
            min-height: 100px;
            margin-top: 10px;
        }
        .actionButtonsContainer
        {
            width: 20%;
            display: flex;
            justify-content: space-around;
            .actionButton
            {
                @include marginPaddingZero;
                border: none;
                margin-bottom: 2px;
                outline: none;
                background: none;
                color: #000;
                text-transform: uppercase;
                font-size: 18px;
                font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
                cursor: pointer;
            }
        }
    }
}

.commentSection .commentNavigation
{
    display: flex;
    flex-direction: row;
    list-style-type: none;
    width: fit-content;
    margin: 0 auto;
    margin-bottom: 35px;
    .pageButton
    {
        width: 20px;
        height: 20px;
        background-color: transparent;
        text-align: center;
        color: black;
        text-decoration: none;
        font-size: 14px;
        display: flex;
        justify-content: center;
        align-items: center;
        box-sizing: border-box;
        border: none;
        border-radius: 50%;
        margin: 0 10px;
    }
    .pageButton.active
    {
        background-color: rgba(22,99,99,0.7);
        color: white;
    }

}



.postColumn .loginSection
{
    @include flexBox(column, center, flex-start);
    width: 100%;
    margin-bottom: 40px;
    h3
    {
        width: 60%;
        text-align: start;
        font-size: 18px;
    }
    ul
    {
        @include flexBox(row, flex-start, center, inline-flex);
        @include marginPaddingZero;
        width: 70%;
        flex-wrap: wrap;
        list-style-type: none;
        .loginIcon
        {
            @include flexBox(row, center, center, inline-flex);
            $dimensions : 44px;
            width: $dimensions;
            height: $dimensions;
            min-width: $dimensions;
            min-height: $dimensions;
            border-radius: 50%;
            background-color: $primaryColor;
            margin-right: 30px;
            border: none;
            outline: none;
            cursor: pointer;
        }
        
    }
    .formHeader
    {
        @include flexBox(column, center, flex-start);
        width: 80%;
        margin-bottom: 40px;
        h4
        {
            width: 100%;
            margin-bottom: 10px;
            font-weight: 300;
            span
            {
                color: rgba(3, 112, 112, 0.9);
                font-weight: bold;
            }
        }
        button
        {
            border: none;
            background: transparent;
            outline: none;
            padding: 0;
            font-size: 14px;
            color: rgba(3, 112, 112, 0.7);
            text-transform: uppercase;
            font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
        }
    }
}


@media screen and (max-width: 755px)
{
    .blogpost .container .postColumn
    {
        width: 100%;
    }

    .blogpost .commentSection .comment .contentSection .header
    {
        flex-direction: column;
        align-items: flex-start;
        p
        {
            margin: 5px 0 0 0;
        }
    }

    .postColumn .share
    {
        width: 80%;
    }

    .commentSection form
    {
        input
        {
            width: 100%;
        }
        div
        {
            justify-content: flex-start;
        }
    }
}

@media screen and (max-width: 360px)
{
    .postColumn .loginSection ul
    {
        width: 100%;
        justify-content: space-evenly;
    }

    .postColumn .loginSection ul .loginIcon
    {
        margin-right: 0;
    }

    .commentSection ul li .comment .contentSection 
    {
        .content{
            min-height: 50px;
        }

        .actionButtonsContainer
        {
            width: 100%;
            font-size: 12px;
        }
    }
}