@import url('https://fonts.googleapis.com/css2?family=Romanesco&display=swap');

/* AUTHOR CARD */

.authorCard
{
    margin-bottom: 60px;
    width: 90%;
    height: auto;
    display: flex;
}

.authorCard .leftSide
{
    display: inline-flex;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 0;
    width: 20%;
    margin-right: 20px;
}

.authorCard .rigthSide
{
    width: 80%;
    justify-content: center;
    align-items: flex-start;
    display: inline-flex;
    flex-direction: column;
}

.authorCard .rigthSide h1
{
    font-size: 36px;
    font-weight: 500;
    padding: 0;
    margin: 0;
    text-align: center;
    width: 100%;
}

.authorCard .rigthSide h2
{
    margin-top: 15px;
    margin-bottom: 0;
    font-size: 15px;
    font-weight: normal;
}

.authorCard .rigthSide h3
{
    font-size: 24px;
    margin-top: 20px;
    font-family: 'Romanesco', cursive;
    font-weight: normal;
    color: #166363
}


.authorCard .socialIconBar
{
    width: 40%;
    height: 50px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

@media screen and (max-width: 755px)
{
    .authorCard {
        flex-direction: column;
    }

    .authorCard .leftSide
    {
        width: 100%;
        justify-content: center;
        margin-bottom: 20px;
    }

    .authorCard .rigthSide
    {
        width: 100%;
        align-items: center;
    }
}

/* CATEGORIES */

.categories
{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-bottom: 50px;
}

.categories .item
{
    width: 33%;
    display: inline-flex;
    background-position: center;
    background-size: cover;
    align-items: center;
    cursor: pointer;
    height: 200px;
    text-decoration: none;
}

.categories .item:nth-child(1)
{
    background-image: url("../images/Stories-image-edited.jpg");
}
.categories .item:nth-child(2)
{
    background-image: url("../images/Algorythms-edited.jpg");
}
.categories .item:nth-child(3)
{
    background-image: url("../images/Lifestyle-edited.jpg");
}

.categories .item:hover h1
{
    opacity: 1;
}

.categories .item h1
{
    width: 50%;
    text-align: center;
    color: white;
    font-size: 18px;
    font-weight: bold;
    margin: 0;
    padding: 0;
    margin-top: 20px;
    text-transform: uppercase;
    opacity: 0.8;
    transition: opacity .3s ease-in-out;
}

@media screen and (max-width: 755px)
{
    .categories
    {
        flex-direction: column;
    }

    .categories .item
    {
        width: 100%;
    }
}



