.sideColumn
{
    width: 23%;
    display: inline-flex;
    height: auto;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    box-sizing: border-box;
}

.sideColumn h1
{
    font-size: 15px;
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
    width: auto;
    margin: 25px auto;
    position: relative;
}

.sideColumn h1::after
{
    content: "";
    width: 80%;
    position: absolute;
    bottom: -10px;
    left: 10%;
    height: 2px;
    background-color: #166363;
}

.sideColumn .wrapper
{
    width: 100%;
    display: flex;
    flex-direction: column;
}

.sideColumn .newsletter input
{
    margin-bottom: 15px;
    border: none;
    background-color: #e8e8e8;
    color: #000;
    height: 48px;
    padding: 0 10px;
    font-size: 15px;
    width: 100%;
}

.sideColumn .newsletter input::placeholder
{
    color: #b4b4b4;
}

.sideColumn .newsletter input:focus
{
    outline: none;
}

.sideColumn .newsletter button
{
    width: 100%;
    height: 48px;
    background-color: #166363;
    font-size: 15px;
    text-align: center;
    text-transform: uppercase;
    color: white;
    border: none;
    outline: none;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    cursor: pointer;
}

.sideColumn .banner img
{
    width: 100%;
    height: 400px;
    margin-bottom: 0;
}

.sideColumn .categories
{
    margin-bottom: 0;
}

.sideColumn .categories ul
{
    width: 100%;
    margin: 0;
    padding: 0;
}

.sideColumn .categories ul .link
{
    list-style-type: none;
    height: 40px;
    border-bottom: 1px solid rgba(22,99,99,0.2);
    font-size: 15px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    line-height: 35px;
    cursor: pointer;
    width: 100%;
    display: flex;
    margin-bottom: calc(1.45rem / 2);
    color: black;
    text-decoration: none;
}

.sideColumn .categories ul .link span
{
    color: rgba(22,99,99,0.4);
}

.sideColumn .tags ul, .latestPosts ul
{
    width: 100%;
    max-width: 100%;
    display: flex;
    flex-wrap: wrap;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.sideColumn .tags ul li
{
    width: auto;
    padding: 4px 10px;
    font-size: 12px;
    border: 2px solid #eee;
    margin: 3px 5px;
    box-sizing: border-box;
    font-weight: bold;
    text-transform: uppercase;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    cursor: pointer;
}

.sideColumn .tags ul li:hover
{
    filter: brightness(0.9);
}

.sideColumn .search div
{
    width: 90%;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 40px;
}

.sideColumn .search div input
{
    border: none;
    background-color: #e8e8e8;
    color: #000;
    padding: 0 10px;
    font-size: 15px;
    outline: none;
    box-sizing: border-box;
    height: 100%;
}

.sideColumn .search div .iconBox
{
    width: 100%;
    background-color: #c3cae6;
    line-height: 100%;
}

.sideColumn .latestPosts ul .link
{
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    width: 100%;
    margin-bottom: calc(1.45rem / 2);
    color: black;
    text-decoration: none;
}

.sideColumn .latestPosts ul .link img
{
    width: 70px;
    height: 70px;
    display: inline-flex;
}

.sideColumn .latestPosts ul .link .content
{
    width: 80%;
    margin-left: 20px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.sideColumn .latestPosts ul .link h3
{
    font-size: 13px;
    color: rgba(22,99,99,0.4);
    padding: 0;
    margin: 0;
    font-weight: normal;
}

.sideColumn .latestPosts ul .link h2
{
    font-size: 18px;
    padding-top: 8px;
    font-weight: 600;
}


@media screen and (max-width: 755px)
{
    .sideColumn
    {
        display: none;
    }
}

